.App {
  position: absolute;
  width: 400vw;
  height: 400vh;
}

.leafIcon{
  width: 25px;
}

.search {

  /* position: absolute; */
  top: 8rem;
  /* right: 50%; */
  /* transform: translateX(-50%); */
  width: 80%;
  /* max-width: 13.88vw; */
  /* z-index: 10; */
  
 
}

.search input {
  padding: 0.5rem;
  font-size: 1.0rem;
  width: 100%;
  position: relative;
  z-index: 1400;
  
  /* border-radius: 30px; */

}

[data-reach-combobox-popover] {
  z-index: 4000;
  position: absolute;
  width: 249px;
  /* width: 100%; */
}
[data-reach-combobox-option]{
  font-family: 'Lato', sans-serif;
  border-bottom: 1px black dotted; 
  font-weight: bold;
  color: black;
  z-index: 1450;
}

[data-reach-combobox-list] {
  /* max-width: 250px;
  width: 100%; */
  
  z-index: 1450;
}


/* #box {
  height: 25vh;
} */