.App {
  position: absolute;
  width: 400vw;
  height: 400vh;
}

.leafIcon{
  width: 25px;
}

.search {

  /* position: absolute; */
  top: 8rem;
  /* right: 50%; */
  /* transform: translateX(-50%); */
  width: 100%;
  max-width: 200px;
  /* z-index: 10; */
  
 
}

.search input {
  padding: 0.5rem;
  font-size: 1.0rem;
  width: 100%;
  
  /* border-radius: 30px; */

}


/* #box {
  height: 25vh;
} */